/*--------------------------------------------------*\
  =Feedback
\*--------------------------------------------------*/

.feedback {
  max-width: 400px;
  margin: 0 auto;



  /**
   * Elements
   */
  
  .form__label {
    font-size: 19px;
  }

  &__comment {
    height: 185px;
  }

  &__captcha-row .form__col {
    vertical-align: middle;
  }

  &__captcha {
    position: relative;
    height: 80px;
    border: 1px solid get-color('primary');
    border-radius: $border-radius-base;
    overflow: hidden;
    background-color: white;

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

  }

  &__reset {
    text-align: right;
  }

}