$s-bag: (
  name: 'bag',
  offset-x: 0px,
  offset-y: 0px,
  width: 36px,
  height: 34px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-fb-hover: (
  name: 'fb-hover',
  offset-x: 0px,
  offset-y: -37px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-fb: (
  name: 'fb',
  offset-x: 0px,
  offset-y: -87px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-git-hover: (
  name: 'git-hover',
  offset-x: 0px,
  offset-y: -137px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-git: (
  name: 'git',
  offset-x: 0px,
  offset-y: -187px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-image-pictogram: (
  name: 'image-pictogram',
  offset-x: 0px,
  offset-y: -237px,
  width: 32px,
  height: 32px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-list: (
  name: 'list',
  offset-x: 0px,
  offset-y: -272px,
  width: 26px,
  height: 32px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-lock-close: (
  name: 'lock-close',
  offset-x: 0px,
  offset-y: -307px,
  width: 20px,
  height: 32px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-lock-open: (
  name: 'lock-open',
  offset-x: 0px,
  offset-y: -342px,
  width: 20px,
  height: 32px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-mail: (
  name: 'mail',
  offset-x: 0px,
  offset-y: -377px,
  width: 21px,
  height: 16px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-phone: (
  name: 'phone',
  offset-x: 0px,
  offset-y: -396px,
  width: 19px,
  height: 20px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-skype: (
  name: 'skype',
  offset-x: 0px,
  offset-y: -419px,
  width: 20px,
  height: 20px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-study: (
  name: 'study',
  offset-x: 0px,
  offset-y: -442px,
  width: 41px,
  height: 23px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-tw-hover: (
  name: 'tw-hover',
  offset-x: 0px,
  offset-y: -468px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-tw: (
  name: 'tw',
  offset-x: 0px,
  offset-y: -518px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-vk-hover: (
  name: 'vk-hover',
  offset-x: 0px,
  offset-y: -568px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
$s-vk: (
  name: 'vk',
  offset-x: 0px,
  offset-y: -618px,
  width: 47px,
  height: 47px,
  total_width: 47px,
  total_height: 665px,
  image: 'sprite.png'
);
