// header
header(class="header")
  div(class="header__inner")


    // main logo
    a(href="/", class="header__logo main-logo")
      img(src="images/main-logo.png", alt="LoftSchool", width="243", height="42")


    // socials
    +socials([{alias: 'vk', title: 'ВКонтакте', url: 'http://vk.com/id12491629'}, {alias: 'tw', title: 'Twitter', url: ''}, {alias: 'fb', title: 'Facebook', url: ''}, {alias: 'git', title: 'GitHub', url: 'https://github.com/action-man'}])(class="header__socials")