mixin nav(items, currentIndex)
  nav(class="nav")&attributes(attributes)
    each item, idx in items
      if idx == currentIndex
        span(class="nav__link is-current")= item.text
      else
        a(href=item.url, class="nav__link")= item.text