/*--------------------------------------------------*\
  =Content
\*--------------------------------------------------*/

.content {
  width: 660px;
  float: left;



  /**
   * Elements
   */
  
  &__section {
    margin-bottom: 25px;
  }


}