/*--------------------------------------------------*\
  =Sidebar
\*--------------------------------------------------*/

.sidebar {
  float: left;
  width: 300px;
  padding-right: 50px;



  /**
   * Elements
   */
  
  &__item {
    margin-bottom: 25px;
  }

}