- var isAuthPage = true;


include ../mixins/mixins


doctype html
html(lang="ru")


  include ../includes/head


  body
    div(class="wrapper auth-page")
      div(class="auth-page__inner")
      

        block content


      include ../includes/footer

    block scripts
      script(src="js/libs.js")
      script(src="js/vendor.js")
      script(src="js/main.js")