- var page = 'projects'


extends ./extends/layout


block title
  title Проекты


block sidebar


  // main nav
  - var navData = [{text: 'Обо мне', url: 'index.html'},  {text: 'Мои работы', url: 'projects.html'},  {text: 'Связаться со мной', url: 'feedback.html'}]
  +nav(navData, 1)(class="sidebar__item")


  include ./includes/contacts


block content


  // projects
  +section('Мои работы')(class="content__section project-list")
    ul(class="project-list__list")


      // item
      li(class="project-list__item")
        a(href="/", class="project-list__item-image-box")
          img(src="images/projects/1.jpg", alt="Проект", class="project-list__item-image")
          div(class="project-list__item-title-wrap")
            div(class="project-list__item-title") Подробнее
        div(class="project-list__item-url")
          a(href="/", class="project-list__item-url-link", target="_blank") site.ru
        div(class="project-list__item-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit.


      // item
      li(class="project-list__item")
        a(href="/", class="project-list__item-image-box")
          img(src="images/projects/1.jpg", alt="Проект", class="project-list__item-image")
          div(class="project-list__item-title-wrap")
            div(class="project-list__item-title") Подробнее
        div(class="project-list__item-url")
          a(href="/", class="project-list__item-url-link", target="_blank") site.ru
        div(class="project-list__item-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit.


      // item
      li(class="project-list__item")
        a(href="/", class="project-list__item-image-box")
          img(src="images/projects/1.jpg", alt="Проект", class="project-list__item-image")
          div(class="project-list__item-title-wrap")
            div(class="project-list__item-title") Подробнее
        div(class="project-list__item-url")
          a(href="/", class="project-list__item-url-link", target="_blank") site.ru
        div(class="project-list__item-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit.


      // item
      li(class="project-list__item")
        a(href="/", class="project-list__item-image-box")
          img(src="images/projects/1.jpg", alt="Проект", class="project-list__item-image")
          div(class="project-list__item-title-wrap")
            div(class="project-list__item-title") Подробнее
        div(class="project-list__item-url")
          a(href="/", class="project-list__item-url-link", target="_blank") site.ru
        div(class="project-list__item-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit.


      // item
      li(class="project-list__item")
        a(href="/", class="project-list__item-image-box")
          img(src="images/projects/1.jpg", alt="Проект", class="project-list__item-image")
          div(class="project-list__item-title-wrap")
            div(class="project-list__item-title") Подробнее
        div(class="project-list__item-url")
          a(href="/", class="project-list__item-url-link", target="_blank") site.ru
        div(class="project-list__item-desc") Lorem ipsum dolor sit amet, consectetur adipisicing elit.


      // item
      li(class="project-list__item")
        a(href="#new-project-modal", class="project-list__item-add js-fancy-inline {width: 360}") Добавить проект



  include ./includes/new-project